@font-face {
    font-family: 'HelveticaNeueLTStd-LtCnO';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-LtCnO.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-LtCnO.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-BdCnO';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-BdCnO.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-BdCnO.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-BdIt';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-BdIt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-HvCn';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-HvCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-BdCn';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-BdCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-CnO';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-CnO.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-CnO.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Cn';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Cn.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Th';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-It';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-It.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-MdCn';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-MdCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-MdCn.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Blk';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Blk.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-BlkCn';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-BlkCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-BlkCn.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-ThIt';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-ThIt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-ThIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Hv';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Md';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-LtCn';
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeueLTStd-LtCn.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

